body {
  background-color: #C2DEDC;
}
h3 {
  font-size: 30px;
  
}

button {
  width: 46px;
  height: 31px;
  border-radius: 14px;
  margin-left: 15px;
}
button:hover {
  border: 3px solid #ECE5C7;
  background-color: #116A7B;
  background-color: #CDC2AE
}

.addTask {
  width: 616px;
  margin: 30px auto;
}

::placeholder {
  text-align: center;
  font-size: 20px;
}
input {
  width: 500px;
  border-radius: 120px;
  height: 40px;
  font-size: 20px;
  padding-left: 20px;
  font-family: "Dosis", sans-serif;
  background-color: #ECE5C7
}
.notCompleted {
  border: 2px solid #CDC2AE(56, 6, 86);
  padding: 12px 41px;
  width: 700px;
  margin: 27px auto;
  background-color: #116A7B;
  border-radius: 14px;
  font-family: "Dosis", sans-serif;
}
.Completed {
  border: 2px solid #CDC2AE(56, 6, 86);
  padding: 12px 41px;
  width: 700px;
  margin: 27px auto;
  background-color: #116A7B;
  background-color: ;
  font-family: "Dosis", sans-serif;
  border-radius: 14px;
}
li {
  font-size: 29px;
  margin-left: 45px;
}
